---
import Layout from '../layouts/Layout.astro'
import styles from '../styles/index.module.scss'
import { links } from '../constants/links'

const selectedKeys = [
  'email',
  'github',
  'codeberg',
  'telegram',
  'codepen',
  'bsky',
  'keyoxide',
] as const
const selected = selectedKeys.map((k) => links[k])
const currentYear = new Date().getFullYear()
---

<Layout>
  <h1 class={styles.mainTitle}>igor teplostanski</h1>
  <p class={styles.paragraph}>
    Hi everyone 👋 My name is Igor, and I'm a frontend developer. In my free
    time, I write for <a href={links.doka.link}>{links.doka.label}</a>, develop <a
      href={links.vite_plugin.link}>{links.vite_plugin.label}</a
    >, and work on <a href={links.moonbloom_theme.link}
      >{links.moonbloom_theme.label}</a
    >. I enjoy creating applications and open-source projects. Below, I've left
    all the necessary links for you 👇
  </p>
  <ul class={styles.list}>
    {
      selected.map(({ label, link }) => (
        <li class={styles.list__item}>
          <a href={link} target='_blank' rel='noopener noreferrer me'>
            <span>{label}</span>
          </a>
        </li>
      ))
    }
  </ul>
  <footer class={styles.footer}>© 2022-{currentYear}</footer>
</Layout>
